<a href="https://colab.research.google.com/github/data-aleks/australian_frogs_tidytuesday_02_09_2025/blob/main/tidy_tuesday_02092025_australian_frogs.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [42]:
import pandas as pd
import numpy as np

# **Australian Frogs**

This week we're exploring 2023 data from the sixth annual release of [FrogID](https://www.frogid.net.au/explore) data.

FrogID is an Australian frog call identification initiative. The FrogID mobile app allows citizen scientists to record and submit frog calls for museum experts to identify. Since 2017, FrogID data has contributed to over 30 scientific papers exploring frog ecology, taxonomy, and conservation.

Australia is home to a unique and diverse array of frog species found almost nowhere else on Earth, with 257 native species distributed throughout the continent. But Australia’s frogs are in peril – almost one in five species are threatened with extinction due to threats such as climate change, urbanisation, disease, and the spread of invasive species.

Some questions you might explore:

Are there species that are endemic to certain regions?
Do different frog species have distinct calling seasons?
Which species has the widest geographic range? Which is the rarest?
Primary citation for FrogID data: Rowley JJL, & Callaghan CT (2020) The FrogID dataset: expert-validated occurrence records of Australia’s frogs collected by citizen scientists. ZooKeys 912: 139-151

Official frog name data: Australian Society of Herpetologists Official List of Australian Species. 2025. http://www.australiansocietyofherpetologists.org/ash-official-list-of-australian-species.

Thank you to Jessica Moore for curating this week's dataset.

## **Loading data**

In [43]:
df_id = pd.read_csv("https://raw.githubusercontent.com/rfordatascience/tidytuesday/main/data/2025/2025-09-02/frogID_data.csv")
df_names = pd.read_csv("https://raw.githubusercontent.com/rfordatascience/tidytuesday/main/data/2025/2025-09-02/frog_names.csv")

In [44]:
if df_id.empty or df_names.empty:
  print('Issue with data, check data links')
else:
  print('Data loaded succesfully')

Data loaded succesfully

## **1. Exploring Data**

### **1.2 Exploring ID Data**

In this step we will look at our df_id data, to identify areas of potential improvement. Detect any duplicate or missing records. This will allow us to have a better idea of what cleaning tasks to perform in step 2.

In [45]:
df_id.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 136621 entries, 0 to 136620
Data columns (total 11 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   occurrenceID                   136621 non-null  int64
 1   eventID                        136621 non-null  int64
 2   decimalLatitude                136621 non-null  float64
 3   decimalLongitude               136621 non-null  float64
 4   scientificName                 136621 non-null  object
 5   eventDate                      136621 non-null  object
 6   eventTime                      136621 non-null  object
 7   timezone                       136621 non-null  object
 8   coordinateUncertaintyInMeters  136621 non-null  float64
 9   recordedBy                     136621 non-null  int64
 10  stateProvince                  136621 non-null  object
dtypes: float64(3), int64(3), object(5)
memory usage: 11.5+ MB

Check for missing values.

In [46]:
df_id.isna().sum()

occurrenceID                     0
eventID                          0
decimalLatitude                  0
decimalLongitude                 0
scientificName                   0
eventDate                        0
eventTime                        0
timezone                         0
coordinateUncertaintyInMeters    0
recordedBy                       0
stateProvince                    0
dtype: int64

Check for duplicates.

In [47]:
id_duplicates = df_id.duplicated()
print(id_duplicates.sum())

0

Check numerical value columns.

In [48]:
df_id.describe()

,occurrenceID,eventID,decimalLatitude,decimalLongitude,coordinateUncertaintyInMeters,recordedBy
count,136621.000000,136621.000000,136621.000000,136621.000000,136621.000000,136621.000000
mean,615783.031298,578746.196573,-32.570545,146.111522,266.296745,374733.822465
std,240487.356744,32322.528839,5.499648,9.662305,1511.121565,398517.944173
min,12832.000000,525452.000000,-43.600700,114.165843,0.000000,19.000000
25%,417288.000000,552635.000000,-36.292208,145.212000,4.842910,17995.000000
50%,531009.000000,581094.000000,-33.729700,149.811440,10.000000,38672.000000
75%,925251.000000,601991.000000,-30.321081,151.582901,24.306999,822411.000000
max,974119.000000,820480.000000,-9.411900,159.081328,10000.000000,862132.000000

In [49]:
df_id.head()

,occurrenceID,eventID,decimalLatitude,decimalLongitude,scientificName,eventDate,eventTime,timezone,coordinateUncertaintyInMeters,recordedBy,stateProvince
0,12832,525618,-28.5,153.1,Philoria loveridgei,2023-01-01,11:18:32,GMT+1100,10000.0,41480,New South Wales
1,12833,526341,-33.7,151.2,Heleioporus australiacus,2023-01-02,20:39:30,GMT+1100,10000.0,834983,New South Wales
2,12834,526673,-28.7,152.7,Mixophyes iteratus,2023-01-02,21:30:07,GMT+1100,10000.0,804177,New South Wales
3,12835,526673,-28.7,152.7,Mixophyes fasciolatus,2023-01-02,21:30:07,GMT+1100,10000.0,804177,New South Wales
4,12836,526673,-28.7,152.7,Litoria latopalmata,2023-01-02,21:30:07,GMT+1100,10000.0,804177,New South Wales

In [50]:
df_id.tail()

,occurrenceID,eventID,decimalLatitude,decimalLongitude,scientificName,eventDate,eventTime,timezone,coordinateUncertaintyInMeters,recordedBy,stateProvince
136616,974110,619213,-35.126800,150.753000,Crinia signifera,2023-11-09,17:29:47,GMT+1100,8.000000,825385,Other Territories
136617,974111,658692,-35.152206,150.759737,Crinia signifera,2023-03-21,11:59:24,GMT+1100,4.741598,12486,Other Territories
136618,974112,691758,-35.125944,150.755366,Limnodynastes peronii,2023-08-25,11:36:58,GMT+1000,11.824237,826303,Other Territories
136619,974118,802152,-35.126700,150.755000,Paracrinia haswelli,2023-06-06,11:16:39,GMT+1000,4.357000,35183,Other Territories
136620,974119,802152,-35.126700,150.755000,Crinia signifera,2023-06-06,11:16:39,GMT+1000,4.357000,35183,Other Territories

### **1.2 Exploring Name Data**

In this step we will look at our df_names data, to identify areas of potential improvement. Detect any duplicate or missing records. This will allow us to have a better idea of what cleaning tasks to perform in step 2.

In [51]:
df_names.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 294 entries, 0 to 293
Data columns (total 5 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   subfamily              294 non-null    object
 1   tribe                  294 non-null    object
 2   scientificName         293 non-null    object
 3   commonName             294 non-null    object
 4   secondary_commonNames  294 non-null    object
dtypes: object(5)
memory usage: 11.6+ KB

Check for missing values.

In [52]:
df_names.isna().sum()

subfamily                0
tribe                    0
scientificName           1
commonName               0
secondary_commonNames    0
dtype: int64

In [53]:
print(df_names[df_names['scientificName'].isna()])

    subfamily           tribe scientificName commonName secondary_commonNames
103     Hylid   Pelodryadidae            NaN          —                     —

Check for duplicates.

In [54]:
name_duplicates = df_names.duplicated()
print(name_duplicates.sum())

0

In [55]:
df_names.head()

,subfamily,tribe,scientificName,commonName,secondary_commonNames
0,Hylid,Pelodryadidae,Cyclorana,—,—
1,Hylid,Pelodryadidae,Cyclorana alboguttata,Striped Burrowing Frog,Green-striped Frog
2,Hylid,Pelodryadidae,Cyclorana australis,Northern Snapping Frog,Giant Frog
3,Hylid,Pelodryadidae,Cyclorana brevipes,Superb Collared Frog,Short-footed Frog
4,Hylid,Pelodryadidae,Cyclorana cryptotis,Hidden-ear Frog,Earless Frog

In [56]:
df_names.tail()

,subfamily,tribe,scientificName,commonName,secondary_commonNames
289,Myobatrachid,Myobatrachidae,Uperoleia tyleri,Tyler’s Toadlet,—
290,Ranid,Ranidae,Papurana,No widely used common name for the genus,—
291,Ranid,Ranidae,Papurana daemeli,Wood Frog,Australian Wood Frog
292,Toad,Bufonidae,Rhinella,South American Toads,—
293,Toad,Bufonidae,Rhinella marina,Cane Toad,—

## **2. Cleaning Data**

### **2.1 Cleaning ID Data**

Let's create a copy of the dataset to avoid overwriting the original

In [57]:
df_id_cleaning = df_id.copy()

Rename the columns to snake case format ( i prefer to work with snake_case format )

In [58]:
df_id_cleaning.rename(columns={
    'occurrenceID': 'occurrence_id',
    'eventID': 'event_id',
    'decimalLatitude': 'latitude',
    'decimalLongitude': 'longitude',
    'scientificName': 'scientific_name',
    'eventDate': 'date',
    'eventTime': 'time',
    'timezone': 'time_zone',
    'coordinateUncertaintyInMeters': 'coord_uncertainty_m',
    'recordedBy': 'recorded_by',
    'stateProvince': 'state_province'
}, inplace=True)

In [59]:
df_id_cleaning.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 136621 entries, 0 to 136620
Data columns (total 11 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   occurrence_id        136621 non-null  int64
 1   event_id             136621 non-null  int64
 2   latitude             136621 non-null  float64
 3   longitude            136621 non-null  float64
 4   scientific_name      136621 non-null  object
 5   date                 136621 non-null  object
 6   time                 136621 non-null  object
 7   time_zone            136621 non-null  object
 8   coord_uncertainty_m  136621 non-null  float64
 9   recorded_by          136621 non-null  int64
 10  state_province       136621 non-null  object
dtypes: float64(3), int64(3), object(5)
memory usage: 11.5+ MB

We have our date, time, time_zone data, i think the best way is to store these would be in a single column which will be standartized to UTC format.

In [60]:
df_id_cleaning['datetime'] = pd.to_datetime(df_id_cleaning['date'] + ' ' + df_id_cleaning['time'] + ' ' + df_id_cleaning['time_zone'], format='mixed', utc=True)

In [61]:
df_id_cleaning = df_id_cleaning.drop(columns=['date', 'time', 'time_zone'])

Lets look at our data types, we have scientific_name and state_province columns which store repeating values. This is best suitable for the category data type.

In [62]:
print(f"There are currently {len(df_id_cleaning['scientific_name'].unique())} unique scientific_name values, and {len(df_id_cleaning['state_province'].unique())} unique state_province values. Making this an idea candidate for converting to category data")

There are currently 186 unique scientific_name values, and 9 unique state_province values. Making this an idea candidate for converting to category data

In [63]:
columns_to_convert = ['scientific_name', 'state_province']

# Convert the specified columns to 'Category'
for col in columns_to_convert:
    df_id_cleaning[col] = df_id_cleaning[col].astype('category')

We have occurance_id, event_id and record_by columns which store numerical values and currently are set to int64. Lets try to optimise these by checking maximum value in these columns as possibly we are able to convert these in to int32 or even int16 if we can. Int16 maximum value: 32767, int32 maximum value: 2,147,483,647, int64 maximum value: 9,223,372,036,854,775,807

In [64]:
print(f"Max value in occurance_id: {df_id_cleaning['occurrence_id'].max()}, Max value in event_id: {df_id_cleaning['event_id'].max()}, Max value in recorded_by: {df_id_cleaning['recorded_by'].max()}, which it makes it ideal for int32 datatype instead of int64.")

Max value in occurance_id: 974119, Max value in event_id: 820480, Max value in recorded_by: 862132, which it makes it ideal for int32 datatype instead of int64.

In [65]:
columns_to_convert = ['occurrence_id', 'event_id', 'recorded_by']

# Convert the specified columns to 'int32'
for col in columns_to_convert:
    df_id_cleaning[col] = df_id_cleaning[col].astype('int32')

In [66]:
df_id_cleaning.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 136621 entries, 0 to 136620
Data columns (total 9 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   occurrence_id        136621 non-null  int32
 1   event_id             136621 non-null  int32
 2   latitude             136621 non-null  float64
 3   longitude            136621 non-null  float64
 4   scientific_name      136621 non-null  category
 5   coord_uncertainty_m  136621 non-null  float64
 6   recorded_by          136621 non-null  int32
 7   state_province       136621 non-null  category
 8   datetime             136621 non-null  datetime64[ns, UTC]
dtypes: category(2), datetime64[ns, UTC](1), float64(3), int32(3)
memory usage: 6.1 MB

Finally lets save our preprocessed and cleaned data as df_final to be later improted in to power bi.

In [67]:
df_id_final = df_id_cleaning.copy()

### **2.1 Cleaning Name Data**

Let's create a copy of the dataset to avoid overwriting the original

In [68]:
df_names_cleaning = df_names.copy()

Rename our columns to snake case

In [69]:
df_names_cleaning.rename(columns={
   'subfamily': 'sub_family',
    'scientificName': 'scientific_name',
    'commonName': 'common_name',
    'secondary_commonNames': 'secondary_common_names'
}, inplace=True)

Previously when exploring the data we identified that the data has 1 record with missing values. Let's take a look at it.

In [70]:
print(df_names_cleaning[df_names_cleaning['scientific_name'].isna()])

    sub_family           tribe scientific_name common_name  \
103      Hylid   Pelodryadidae             NaN           —

    secondary_common_names
103                      —

Unfortunately the missing data will have no value to us, as two dataset will be connected to each other using scientific_name column, we will drop this one record from the dataset

In [71]:
df_names_cleaning = df_names_cleaning.dropna()

In [72]:
df_names_cleaning.info()

<class 'pandas.core.frame.DataFrame'>
Index: 293 entries, 0 to 293
Data columns (total 5 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   sub_family              293 non-null    object
 1   tribe                   293 non-null    object
 2   scientific_name         293 non-null    object
 3   common_name             293 non-null    object
 4   secondary_common_names  293 non-null    object
dtypes: object(5)
memory usage: 13.7+ KB

Lets also convert sub_family and tribe to category type as these most likely repeating values.

In [73]:
df_names_cleaning['sub_family'].unique()

array([' Hylid', ' Microhylidae', ' Myobatrachid', ' Ranid', ' Toad'],
      dtype=object)

In [74]:
df_names_cleaning['tribe'].unique()

array([' Pelodryadidae', ' Asterophryninae', ' Limnodynastidae',
       ' Myobatrachidae', ' Ranidae', ' Bufonidae'], dtype=object)

Secondary column names contains entries with '-' symbol. I would like to replace these with None instead

In [75]:
df_names_cleaning['secondary_common_names'] = df_names_cleaning['secondary_common_names'].replace('—', np.nan)

In [76]:
columns_to_convert = ['sub_family', 'tribe']

# Convert the specified columns to 'Category'
for col in columns_to_convert:
    df_names_cleaning[col] = df_names_cleaning[col].astype('category')

Finally lets save our cleaned data in to csv file to be used in power bi dashboard.

In [77]:
df_names_final = df_names_cleaning.copy()

## 3. **Exporting Data to be used in Power BI Dashboard**

### **3.1 ID dataset**

In [78]:
output_filename = "df_id_final.csv"
df_id_final.to_csv(output_filename, index=False)

### **3.2 Names dataset**

In [79]:
output_filename = "df_names_final.csv"
df_names_final.to_csv(output_filename, index=False)